<div data-controller="accordion" data-accordion-start-open-value="<%= start_open %>" class="contain-grid-cards">
  <div class="contain-acordion" id="accordion" data-action="click->accordion#toggle">
    <button class="accordion">
      <div class="contain-angle">
        <div class="angle">
          <i class="fa-solid fa-angle-right" data-accordion-target="icon"></i>
        </div>
        <span><%= tarefa.persisted? ? tarefa.nome : "Nova Tarefa" %></span>
      </div>
    </button>
  </div>
  
  <div class="painel hidden" data-accordion-target="panel">
    <%= form_with(model: tarefa, html: { class: "body-painel" } , data: { turbo_frame: "_top" }) do |form| %>
      
      <div class="input-one">
        <%= form.label :nome, "Nome da Tarefa:" %>
        <%= form.text_field :nome, required: true %>
      </div>

      <div class="input-two"> 
        <div class="contain-itens">
          <span><%= form.label :data_inicio, "Início" %></span>
          <div class="input-calendar"> 
            <%= form.date_field :date_inicio %>
          </div>
        </div>
        <div class="contain-itens">
          <span><%= form.label :data_fim, "Conclusão" %></span>
          <div class="input-calendar"> 
            <%= form.date_field :data_fim %>
          </div>
        </div>
      </div>

      <div class="input-three">
        <div class="contain-select">
          <span><%= form.label :custo, "Custo estimado (R$)" %></span>
          <div class="icon-input">
            <i class="fa-solid fa-brazilian-real-sign"></i>
            <%= form.number_field :custo, step: 0.01 %>
          </div> 
        </div>
        <div class="contain-select">
          <span><%= form.label :status, "Status da Tarefa" %></span>
          <%= form.select :status, ["Concluído", "Pendente", "Em andamento"] %>
        </div>
      </div>

      <div class="contain-buttons"> 
        <button class="span-back">
          <i class="fa-solid fa-rotate-left"></i>
          <%= link_to "Voltar", root_path, class: "span-back" %>
        </button>
        <div class="span-save">
          <i class="fa-solid fa-clipboard-list"></i>
          <%= form.submit "Salvar", class: "button-save" %>
        </div>
    <% end %>
        <% if tarefa.persisted? %>
          <div class="span-delete"> 
            <%= button_to tarefa_path(tarefa), method: :delete, class: "delete-tarefa", data: { turbo_confirm: "Tem certeza que deseja excluir esta tarefa2?" } do %>
              <i class="fa-solid fa-trash-can"></i>
              <span>Excluir</span>
            <% end %>
          </div>
        <% end %>
      </div>
      
  
  </div>
</div>