<%= turbo_frame_tag dom_id(tarefa) do %>
  <div class="contain-tarefas">
    
    <div class="painel-tarefa-comentario" id="painel-tarefa-comentario-<%=tarefa.id %>">
      <div class="contain-values-task">
        <div class="span-values-date">
          <span>Inicio</span>
          <div class="data-span"><p><%= tarefa.date_inicio %></p></div>
        </div>
        <div class="span-values-date">
          <span>Conclusão</span>
          <div class="data-span"><p><%= tarefa.data_fim %></p></div>
        </div>
      </div>
      <div class="contain-values-custo">
        <div class="span-values-custo">
          <span> Custo Estimado</span>
          <div class="icon"><i class="fa-solid fa-brazilian-real-sign"></i> <%= tarefa.custo %> </div> 
        </div>
        <div class="span-values-custo">
          <span> Status da Tarefa </span><%= tarefa.status %>
        </div>
      </div>
    </div>

    <div class="contain-comentarios" id="painel-comentarios-<%= tarefa.id %>">
      <div class="card-nav-comentario"> <i class="fa-solid fa-comments"></i> Comentários </div>
      <div class="painel-contain-comentario">

        <div id="comentarios_tarefa_<%= tarefa.id %>">
          <%= render tarefa.comentarios %>
        </div>

        <div class="contain-form-comentario">
          <%= render 'comentarios/form', tarefa: tarefa %>
        </div>

      </div>
    </div>
        
  </div>
<% end %>