<section>
  <div class="contain-add-card">
    <div class="button-add-card">
      <div class="icon-plus">
        <i class="fa-solid fa-plus"></i>
      </div>
      <button id="mostrar-nova-tarefa" ng-click="formCtrl.open()">Cadastrar Tarefa</button>
    </div>
  </div>
  <div class="contain-grid-cards"> 
    <div ng-show="formCtrl.ativo">
      <div class="contain-acordion">
        <div class="accordion" id="accordion-nova-tarefa"> 
          <div class="contain-angle">  
            <div class="angle"> 
              <i class="fa-solid fa-angle-right" id="angle"> </i> 
            </div>
            <span>Nova Tarefa</span>
          </div>
        </div>
      </div>

      <div class="painel">
        <%= form_with(model: @tarefa || Tarefa.new, local: true, html: { class: "body-painel" }) do |form| %>
          <div class="input-one">
            <%= form.label :nome, "Nome da Tarefa:" %>
            <%= form.text_field :nome, required: true %>
          </div>
          <div class="input-two"> 
            <div class="contain-itens">
              <span><%= form.label :data_inicio, "Início" %></span>
              <div class="input-calendar"> 
                <%= form.date_field :date_inicio %>
              </div>
            </div>
            <div class="contain-itens">
              <span><%= form.label :data_fim, "Conclusão" %></span>
              <div class="input-calendar"> 
                <%= form.date_field :data_fim %>
              </div>
            </div>
          </div>

          <div class="input-three">
            <div class="contain-select">
              <span><%= form.label :custo, "Custo estimado (R$)" %></span>
              <div class="icon-input">
                <i class="fa-solid fa-brazilian-real-sign"></i>
                <%= form.number_field :custo, step: 0.01 %>
              </div> 
            </div>
            <div class="contain-select" >
              <span><%= form.label :status, "Status da Tarefa" %></span>
              <%= form.select :status, ["Concluído", "Pendente", "Em andamento"] %>
            </div>
          </div>

          <div class="contain-buttons">  
            <button class="span-back" type="button" ng-click="formCtrl.close()">
              <i class="fa-solid fa-rotate-left"></i>
              Voltar 
            </button>
            <div class="span-save">
              <i class="fa-solid fa-clipboard-list"></i>
              <%= form.submit "Salvar", class: "button-save" %>
          </div>
        <% end %>
            <div class="span-delete">
              <button class="delete-tarefa">
                <i class="fa-solid fa-trash-can"></i><span>Excluir Tarefa</span>
              </button> 
            </div>
        </div>
      </div>
    </div>

    <div class="contain-tarefas" id="contain-tarefas">
      <div class="card-tarefa" ng-repeat="tarefa in tarefas">
        <div class="contain-acordion-tarefa" ng-click="abrirTarefaItem(tarefa)">
          <div class="accordion-tarefa" id="accordion-tarefa">
            <div class="contain-angle">
              <div class="angle"><i class="fa-solid fa-angle-right"></i></div>
              <span id="titulo">{{ tarefa.nome }}</span>
            </div>
          </div>
          <span class="contain-edit-tarefa">
            <a href="/tarefas/edit" class="edit-link"><i class="fa-solid fa-pencil"></i></a>
          </span>
        </div>
        <div class="body-painel-tarefa" ng-if="tarefa.Aberta">
          <div class="painel-tarefa-comentario">
            <div class="contain-values-task">
              <div class="span-values-date">
                <span>Inicio</span>
                <div class="data-span"><p class="data_inicio">{{tarefa.date_inicio}}</p></div>
              </div>
              <div class="span-values-date">
                <span>Conclusão</span>
                <div class="data-span"><p class="data_fim">{{tarefa.data_fim}}</p></div>
              </div>
            </div>
            <div class="contain-values-custo">
              <div class="span-values-custo">
                <span> Custo Estimado</span>
                <div class="icon">
                  <i class="fa-solid fa-brazilian-real-sign"></i>
                  <div class="custo">{{tarefa.custo}}</div>
                </div> 
              </div>
              <div class="span-values-custo" >
                <span> Status da Tarefa </span> 
              <div class="status-tarefa">{{tarefa.status}}</div>
              </div>
            </div>
          </div>
          <div class="contain-comentarios" id="painel-comentarios">
            <div class="card-nav-comentario"> <i class="fa-solid fa-comments"></i> Comentários </div>
              <div class="painel-contain-comentario">
                <div class="card-comentario-value">
                  <div class="body-card-comentario" ng-repeat="comentario in tarefa.comentarios">
                    <div class="conteudo-card">{{comentario.conteudo}} </div>
                    <div class="delete-comentario"><i class="fa-solid fa-trash"></i></div>
                  </div>
                </div>
                <div class="contain-form-comentario">
                  <form action="/tarefas/${task.id}/comentarios" method="post">
                    <input type="hidden" name="authenticity_token" value="${csrfToken}">
                    <textarea name="comentario[conteudo]" placeholder="Adicione um comentário..."></textarea>
                    <div class="enviar-form-comentario">
                      <button type="submit"><i class="fa-solid fa-envelope"></i> Enviar comentario</button>
                    </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

